section{
    position: relative;
    left: 10vw;

    width: 80vw;
    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

my-card{
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
}
